#mainContainer {
  width: 690;
  height: 345;
  position: relative;
  background-color: #3e024e;
  border: 1px solid #000000;
  margin: 2px auto;
  overflow: hidden;
}

#bg1 {
  width: 690;
  height: 345;
  position: absolute;
  z-index: 10;
}

#bg2 {
  width: 690;
  height: 345;
  position: absolute;
  z-index: 20;
}

#text1 {
  background-color: rgba(112, 16, 190, 0.61);
  background-image: url('/imgs/text1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 690;
  height: 80;
  position: absolute;
  z-index: 11;
  left: 0;
  top: 150px;
}

#text2 {
  background-color: rgba(112, 16, 190, 0.61);
  background-image: url('/imgs/text2.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 690;
  height: 80;
  position: absolute;
  z-index: 80;
  left: 0;
  top: 150px;
}

#slogan {
  width: 505px;
  height: 88px;
  position: absolute;
  z-index: 80;
  left: 100px;
  top: 120px;
}

#Logo {
  background-image: url('imgs/Logo.png');
  width: 100;
  height: 100;
  position: absolute;
  z-index: 1300;
  left: 40px;
  top: 0px;
}

#footer {
  width: 690;
  height: 110;
  position: absolute;
  z-index: 1300;
  bottom: 0px;
}
